.con {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px;
    background-color: #1d2228b6;
  }
  
  .card {
    width: 100%;
    height: 450px; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
    
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .image:hover {
    transform: scale(1.25);
  }
  .details {
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  
  .name {
    font-size: 14px;
    margin: 0;
  }
  
  .title {
    font-size: 12px;
    font-style: italic;
    margin: 5px 0 0 0;
  }
  
  .price {
    font-size: 14px;
  }
  
  .buy-button {
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    transform: scale(1.25);
    background-color: #45a049;
  }

  .custom-scroll-to-top-button {
  
    background-color: rgb(59, 226, 87);
    color: rgb(148, 59, 170);
    border-radius: 50%;
    width: 100px;
    height: 50px;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
  .custom-scroll-to-top-button:hover {
    background-color: rgb(56, 210, 56);
  }